.card-category {
  background-size: cover;
  background-position: center;
  height: 335px;
  border-bottom: solid 4px #4FC3C7;
  border-top: solid 4px #4FC3C7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  grid-column: span 2;
}

.card-category h1 {
  font-size: 3rem;
}

.card-category p {
  padding-left: 5vw;
  padding-right: 5vw;
}

.cards {
  display: grid;
  grid-template-columns: repeat( 4, 1fr );
  grid-gap: 5vw;
}

.card-category:nth-last-child(1):nth-child(odd) {
	grid-column: 2 / span 2;
}

/* // Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-category h1 {
    font-size: 2.3rem;
  }

  .card-category:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat( 4, 1fr );
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat( 4, 1fr );
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat( 4, 1fr );
  }
}
