.embeded-form {
  height: 1200px;
  width: 45vw;
}

.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 100px) and (max-width: 575px) {
  .embeded-form {
    height: 1200px;
    width: 95vw;
  }
}
