.form {
  font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
  .form {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
  }

  .input {
    padding-left: 5vh;
    padding-right: 5vh;
    grid-column: span 2;
  }

  .message {
    padding-left: 5vh;
    padding-right: 5vh;
  }
}
