.navbar-ssa {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-ssa .navbar-collapse {
  flex-grow: 0;
}

.navbar-ssa .navbar-logo img {
  width: auto;
  height: 10vh;
}

.navbar-logo {
  padding: 0px;
  margin: 0px;
}

.nav-item {
  text-align: center;
}

.nav-link {
  border-bottom: 3px solid white;
  font-weight: 500;
  transition: 0.6s ease;
}

.nav-link:hover {
  border-bottom: 3px solid #B9E3E5;
}

.active {
  border-bottom: 3px solid #4FC3C7
}

@media (min-width: 100px) and (max-width: 575px) {
    .navbar-ssa .navbar-logo img {
    width: auto;
    height: 5vh;
  }

  .nav-item {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .nav-item {
    font-size: 0.8rem
  }
}

@media (min-width: 768px) {
  .nav-item {
    font-size: 1rem
  }
}

@media (min-width: 992px) {
  .nav-item {
    font-size: 1.2rem
  }
}
