.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5vh;
}

.group-schedule {
  border: 1px solid black;
  border-radius: 2px;
  display: block;
}

.group-schedule img {
  width: 100%;
  height: auto;
}

@media (min-width: 100px) and (max-width: 575px) {
  .schedule-container {
    max-width: 90vw;
    height: auto;
    margin: auto;
  }
