p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

a {
  font-family: 'Barlow', sans-serif;
}

h1 h2 h3 h4 h5 {
  font-family: 'Barlow', sans-serif;
}

#intro-text {
  font-family: 'Barlow', sans-serif;
  margin-top: 9vh;
  margin-bottom: 9vh;
}

#intro-text h4 {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.intro-text h1 {
  font-size: 6rem;
  font-weight: 100;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 7vh;
}

@media (min-width: 100px) and (max-width: 767px) {
  .intro-text h1 {
    font-size: 2rem;
  }
}
